body {
    min-height: 4096px;
    margin: 0;
    padding: 0;

}
footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-top: 1px solid #ccc;

    --scroll: 0%;

    background: linear-gradient(to right, #4CAF50 var(--scroll), #f1f1f1 0);
    transition: background 0.1s linear;
}